@import '@/styles/variables';
@import '@/styles/mixins';

.app {
  padding: $base-sizing-unit;

  &__header {
    margin-bottom: $base-sizing-unit/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}